* {
    box-sizing: border-box;
}

html {
    background-color: #0b0900;
}

body {
    margin: 0;
    font-family: "Archivo", sans-serif;
    background-color: #0b0900;
    color: #fff5e0;
}

p {
    white-space: pre-line;
    margin-top: 0;
}


.logo-wrap {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.profile-wrap {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    display: block;
    user-select:none;
    height: auto;
    width: 200px;
}

.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 0;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    user-select:none;
}

.nav-button {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    color: #fff5e0;
    transition: color 0.05s ease;
}
.nav-button:hover {
    color: #ffe67e;

}

.post-heading {
    text-align: center;
}

.post-list {
    display: block;
    margin: 100px auto;
    text-align: left;
    max-width: 600px;
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 31%, rgba(26, 21, 14, 1) 100%);
    outline: rgb(122 118 108 / 0.5) solid 2px;
    padding: 20px;
    border-radius: 12px;
}

.post-card {
    position: relative;
    z-index: 0;
    display: block;
    margin-top: -140px;
    padding-top: 6px;
    min-height: 260px;
    outline: #fff5e0 solid 2px;
    border-radius: 12px;
    margin-bottom: 10px;
    user-select: none;
    background: linear-gradient(to bottom, #32291c 0%,#0a0605 100%);
    box-shadow: 0 -10px 16px 0 rgb(0 0 0 / 0.5);
    transition: transform 0.25s ease,
        outline-color 0.25s ease,
        box-shadow 0.15s ease;
}
.post-card:first-child {
    margin-top: -40px;
}
.post-card:hover {
    transform: translateY(-70px);
    outline-color: #ffecc5;
    box-shadow: 0 -8px 16px 0 rgb(255 236 197 / 0.5);
}

.post-detail-card {
    outline: #fff5e0 solid 2px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #32291c 0%,#0a0605 100%);
    user-select: none;
    padding: 16px;
}

.post-title{
    margin: 0;
    line-height: 1.2;
    min-height: 2.4em;
}

.post-author{
    margin-top: 4px;
}

.post-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8px;
    margin-bottom: 8px;
}
.post-meta span:nth-child(1) {text-align: left}
.post-meta span:nth-child(2) {text-align: right}

.post-link {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: inherit;
}
.post-link:hover {

}

.post-detail {
    display: block;
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
}

.post-content {
    margin-top: 50px;
    white-space: pre-line;
}

.heading {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Archivo Black", sans-serif;
}

.about-content{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.subheading{
    margin-bottom: 0;
}

.create-post {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    grid-template-rows: auto;
    align-items: center;
}

.text-box{
    margin: 0 auto;
    width: 100%;
    min-height:40px;
    font-size: 16px;
    font-family: 'Alan Sans', sans-serif;
    border: 2px solid #081210;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    resize: vertical;
}
.text-box:focus{
    outline: none;
}

.account-buttons-container{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.account-button{
    padding:20px;
    font-size:20px;
}

.profile{
    display: block;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.profile-picture img{
    width: 100px;
    height: 100px;
}

.profile-alias {
    margin-top: 0px;
}

.profile-bio {
    margin-top: 0px;
}

.welcome-header {
    text-align: center;
}



