* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Alan Sans", sans-serif;
}

p {
    white-space: pre-line;
    margin-top: 0;
}

.logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    user-select:none;
    font-size: 40px;
}

.nav-bar{
    display: block;
    margin: 0 auto;
    text-align: center;
    user-select:none;
    margin-bottom: 20px;
}

.nav-button {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 12px;
}
.nav-button:hover {
    background-color: #ededed;
}

.post-list {
    display: block;
    margin: 0 auto;
    text-align: left;
    max-width: 500px;
}

.post-card, .post-detail-card {
    display: block;
    outline: black solid 2px;
    border-radius: 12px;
    margin-bottom: 10px;
    user-select: none;
}

.post-detail-card {
    padding: 6px 10px;
}

.post-title{
    margin-bottom: 0px;
}

.post-author{
    margin-top: 4px;
}

.post-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.post-meta span:nth-child(1) {text-align: left}
.post-meta span:nth-child(2) {text-align: right}

.post-link {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: inherit;
}
.post-link:hover {
    background-color: #ededed;
}

.post-detail {
    display: block;
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
}

.post-content {
    margin-top: 50px;
    white-space: pre-line;
}

.heading {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.about-content{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.subheading{
    margin-bottom: 0;
}

.create-post {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    grid-template-rows: auto;
    align-items: center;
}

.text-box{
    margin: 0 auto;
    width: 100%;
    min-height:40px;
    font-size: 16px;
    font-family: 'Alan Sans', sans-serif;
    border: 2px solid #081210;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    resize: vertical;
}
.text-box:focus{
    outline: none;
}




