* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Alan Sans", sans-serif;
}

.logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    user-select:none;
}

.nav-bar{
    display: block;
    margin: 0 auto;
    text-align: center;
    user-select:none;
    margin-bottom: 20px;
}

.nav-button {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.post-list {
    display: block;
    margin: 0 auto;
    text-align: left;
    max-width: 500px;
}

.post {
    display: block;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:10px;
    padding-right:10px;
    outline: black solid 2px;
    border-radius: 12px;
    margin-bottom: 10px;
    user-select: none;
}

.post-title{
    margin-bottom: 0px;
}

.post-author{
    margin-top: 4px;
}

.post-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.post-data span:nth-child(1) {text-align: left}
.post-data span:nth-child(2) {text-align: right}

.post-link {
    text-decoration: none;
    color: inherit;
}